.container {
    display: flex;
    align-items: center;
    background-color: var(--bgSoft);
    gap: 10px;
    border-radius: 5px;
    max-height: 150vh;
    justify-content: space-between;
}

.search {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.input{
    width: 95%;
    padding: 10px;
    background-color: var(--text);
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}

.rightNavSection {
    display: flex;
    gap: 50px;
    padding: 30px;
    justify-content: space-between;
}

.rightNavSection > * {
    cursor: pointer;
}

.profileImage {
    padding-left: 10px;
    object-fit: cover;
    cursor: pointer;
    width: 120px;
    height: auto;
    border: 2px solid;
    border-radius: 5%;
}

/* Reset default styles */
.currentAddress select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 8px;
    font-size: 16px;
    width: 300px;
    border-radius: 4px;
    background-color: var(--text);
    overflow: scroll;
  }
  
  /* Add custom styles for the arrow icon */
  .currentAddress select::after {
    content: '\25BC'; /* Unicode character for a down-pointing triangle */
    position: absolute;
    top: 20%;
    border: none;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the icon doesn't interfere with select clicks */
  }
  
  /* Style the select when it's in focus or active */
  .currentAddress select:focus {
    border-color: var(--text); /* Change border color on focus */
    padding: 5px;
    box-shadow: 0 0 5px rgba(119, 164, 212, 0.5); /* Add a subtle box shadow */
  }